{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}

{% load mytags %}


{% block title %}Lista de Reserva Projetor{% endblock %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Reserva Projetor</h5>

          {% if reservas|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Reserva Projetors</code> cadastrados.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
               
				<th scope="col">Numero do Projetor</th>
				<th scope="col">Data Hora da Posse</th>
				<th scope="col">Data Hora da Devolucao</th>
				<th scope="col">Curso</th>
				<th scope="col">Turno</th>
				<th scope="col">Primeira Aula</th>
				<th scope="col">Segunda Aula</th>
				<th scope="col">Confirmada</th>
				<th scope="col" class="text-center">Ações</th>
				

              </tr>
              </thead>
              <tbody>
              {% for reserva in reservas %}
                <tr>
				  <td >{{ reserva.id_recurso.numero }}</td>
				  <td scope="row">{{ reserva.data_hora_saida|date:'d/m/Y' }}-{{ reserva.data_hora_saida|time:"H:i" }}</td>
                  <td scope="row">{{ reserva.data_hora_chegada|date:'d/m/Y' }}-{{ reserva.data_hora_chegada|time:"H:i" }}</td>
				  <td scope="row">{{ reserva.curso.nome }}</td>
				  <td scope="row">{{ reserva.turno|str_none }}</td>
				  <td scope="row">{{ reserva.primeira_aula|str_aula}}</td>
				  <td scope="row">{{ reserva.segunda_aula|str_aula}}</td>
				  <td scope="row">{{ reserva.confirmacao|str_confirmacao}}</td>
				  	

                  <td class="text-center">
				{% if perms.authweb.change_reserva %}
					{% if not reserva.confirmacao %}
                    <a href="{% url 'website:atualiza_reserva_projetor_confirma' pk=reserva.id %}"
                       class="btn btn-primary">
                      Confirmar?
                    </a>
					{% endif %}
				{% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Reserva Projetor</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'website:cadastra_reserva_projetor' %}" class="btn btn-primary">
              Cadastrar Reserva Projetor
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
© 2019 GitHub, Inc.