body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
  }

  #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #wrap {
    width: 1148px;
    margin: 11px -22px;
  }

  #external-events {
    float: left;
    width: 425px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: rgb(255, 255, 255);
    text-align: left;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    max-width: 650px;
    margin: 20px auto;
    padding: 0 10px;
    float: right;

  }

/*#calendar .fc-bgevent {
    background: #000000;
	color: green;
}
*/
/*#calendar  .fc-widget-content {
  background-color: rgb(0, 255, 0);
 
}*/


#calendar .fc-bgevent{
	opacity: inherit;
    background: #000000;
}

#calendar .fc-timeline{
	background-color: rgb(215, 255, 215);	
}

#calendar .fc-nonbusiness{
	background-color:rgb(192, 192, 192);
	background:rgb(192, 192, 192);
	color:rgb(0, 0, 255);
	opacity: inherit;
	display:block;

}

/*#calendar  .fc-widget-content {
	background-color: rgb(215, 255, 215);	
}*/

#calendar .fc-divider{
	background-color:black;
}



#calendar .fc-license-message{
	visibility:hidden;
}

#calendar .fc-highlight{
	background-color: rgb(0, 128, 128);	
}

#calendar .fc-resource-area .fc-widget-content{
	background-color: rgb(255, 255, 255);
}
#calendar .fc-resource-area .fc-widget-header{
	background-color: rgb(255, 255, 255);
}

#calendar .fc-time-area .fc-widget-header{
	background-color: rgb(255, 255, 255);
}

/* basic positioning */
#legend {float: right;}
.legend { list-style: none;  }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: rgb(215, 255, 215); }
.legend .awesome { background-color: red; }
.legend .kindaawesome { background-color: orange; }
.legend .notawesome { background-color: gray; }



/*https://codepen.io/alex-hazanov/pen/rNBjPyL*/

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFC107;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}