{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}

{% block title %}Atualização de Usuario{% endblock %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualizar Dados de Usuario</h5>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

   <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Matricula</span>
              </div>
              {% render_field  form.username class+="form-control" %}
            </div>

            <!-- Sobrenome -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Senha</span>
              </div>
              {% render_field  form.password class+="form-control" %}
            </div>

            <!-- CPF -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
              </div>
              {% render_field  form.email class+="form-control" %}
            </div>

<!--			<div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Nome</span>
              </div>
              {% render_field  form.nome class+="form-control" %}
            </div>-->

			<div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Categoria</span>
              </div>
              {% render_field  form.categoria class+="form-control" %}
            </div>


            <hr>
            <div class="text-right">
              <a href="{% url 'website:lista_usuario' %}" class="btn btn-outline-primary">Voltar</a>
              <button class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}